#entry a {
	color: black;
	font-weight: bold;
}

#entry ::-webkit-scrollbar-track {
	background: none;
}

#entry ::-webkit-scrollbar-thumb {
    background: none;
}

#entry {
	margin: 10px;
	border-color: #808e95;
	border-width: 2px;
}

#app, html, body, [data-reactroot], #app-container {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #e2f1f8;
	z-index: 0;
}

#map {
	height: 80%;
	width: 90%;
	position: absolute;
	left: 50px;
	right: 50px;
	border-radius: 20px;
	
}

#app-container, #map , .container{
	background-color: #e2f1f8;
	text-align: center;
	margin: 10px auto 50px auto;
}

#search {
	text-align: center;
	border-color: none;

}

#nav {
	font-family: Pacifico;
	background-color: #00bcd4;
}r

#app-container h1 {
	font-size: 75px;
	font-family: Pacifico;
	color: #808e95
}

.content {
	line-height: 1.35;
  overflow: hidden;
  white-space: wrap;
}

#sidebar {
	float: right;
	display: inline;
	width: 20%;
	height: 80%;
	background-color: #e2f1f8;
	overflow: scroll;
	position: relative;
}

#legendList {
	margin: 10px;
	padding: 0;
	list-style-type: none;
}

#legendList li {
	display: inline;
}

#search input {
	height: 30px;
    width: 30%;
    border:1px solid #d0d0d0;
	background-color:#fcfcfc;
}

#search-input {
	border-radius:15px; 
	-moz-border-radius:15px; 
	-webkit-border-radius:15px;
	text-align: center; 
}

::-webkit-input-placeholder {
   text-align: center;
}

input:focus::-webkit-input-placeholder {
    opacity: 0;
}

#search-input:focus {
   
    box-shadow: 0 0 0 2pt skyblue;

   
    outline: none;

}

